
html *{
  font-family: Cambria, Georgia, serif;font-weight:500;line-height: 1.3rem;
}

.parent_container{
  position: relative;
  width: 100%;
  max-width: 1024px;
  background: rgb(207, 207, 207);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 20px 20px #888888;
}
.parent_container .upper_container{
  position: relative;
  width: 100%;
  max-width: 1024px;
  background: rgb(236, 236, 236);
}
.name_info{
  padding: 20px;
}
.name_info h1{
  text-align: center;
  margin: auto;
  font-size: 46px;
  padding: 20px;
}
.name_info h2{
  margin: auto;
  text-align: center;
  font-size: 16px;
  /* padding: 10px; */
}
.name_info h3{
  /* padding: 10px; */
  text-align: center;
  font-size: 14px;
  margin: auto;
}
.middle_container{
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  max-width: 1024px;
  background: rgb(255, 255, 255);
}
.middle_left_container{
  position: relative;
  width: 75%;
  background: rgb(255, 255, 255);
}
.middle_right_container{
  position: relative;
  width: 25%;
  background: rgb(236, 236, 236);
}
.projects{
  padding: 20px;
}
.project_header{
  font-size: 36px;
  /* border-bottom: 2px solid rgb(216, 216, 216); */
}
.project_header h1{
  text-align: left;
  font-size: 36px;
}
.project_title h1{
  font-size: 20px;
}
.project_title h2{
  font-size: 14px;
}
.project_date{
  font-size: 15px;
}
.work_experience{
  padding: 20px;
}
.work_experience_header h1{
  text-align: left;
  font-size: 36px;
}
/* .work_experience_role{
  border-top: 2px solid rgb(216, 216, 216);
} */
.work_title{
  font-size: 22px;
}
.work_title .company{
  font-size: 15px;
}
.work_description{
  font-size: 15px;
}
.work_description .per_store{
  font-style: italic;
}
.education{
  padding: 20px;
}
.education_header h1{
  text-align: left;
  font-size: 36px;
}
.education_title{
  font-size: 22px;
}
.education_date{
  font-size: 15px;
}
.education_description{
  font-size: 15px;
}
.skills_section{
  /* display: flex; */
  text-align: center;
  align-items: center;
  justify-content: center;
  padding: 30px;
}
.skills_header h1{
  text-align: center;
  font-size: 36px;
}
.skills_list h1{
  font-size: 15px;
}
.counter_text h1{
  /* border-top: 2px solid rgb(0, 0, 0); */
  font-size: 14px;
  text-align: center;
  padding: 10px;
}
#counter {
  font-family: monospace;
  font-size: 12px;
  margin: 0 auto;
  text-align: center;
}